@font-face {
  font-family: zillaslab;
  src: url("assets/fonts/ZillaSlab-Regular.ttf"); }

@font-face {
  font-family: ubuntu;
  src: url("assets/fonts/Ubuntu-R.ttf"); }

@font-face {
  font-family: ubuntu-monospace;
  src: url("assets/fonts/UbuntuMono-R.ttf"); }

@font-face {
  font-family: pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf"); }

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: roboto-light;
  src: url("assets/fonts/Roboto-Light.ttf"); }

@keyframes fill {
  from {
    opacity: 0;
    width: 0%; }
  to {
    opacity: 1;
    width: 100%; } }

@keyframes slide {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  30% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.card-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center; }

.card {
  animation: slide 1s 500ms ease-out backwards;
  width: 790px;
  height: 530px;
  display: grid;
  grid-template: 80% 20% / 53% 47%;
  grid-template-areas: "greeting photo";
  font-family: ubuntu, roboto, sans-serif;
  overflow: hidden;
  border: 1px solid #3f6494;
  border-radius: 20px;
  box-shadow: 0px 5px 20px black;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px); }
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .card {
      background-color: rgba(155, 155, 255, 0.3); } }
  .card__greeting {
    grid-area: greeting;
    font-size: 1.2em;
    align-self: center;
    justify-self: end; }
    .card__greeting:hover {
      cursor: default; }
      .card__greeting:hover .firstname {
        color: #101a1a; }
      .card__greeting:hover .name {
        color: #5e005e; }
    .card__greeting::after {
      content: "";
      display: block;
      background-color: white;
      height: 2px;
      opacity: 0.5;
      width: 100%;
      animation: fill 1s 1500ms backwards; }
    .card__greeting span {
      font-size: 0.8em;
      color: rgba(0, 2, 22, 0.7); }
    .card__greeting h1 {
      font-family: zillaslab;
      font-size: 2.2em;
      letter-spacing: 2px; }
    .card__greeting .name {
      color: #101a1a;
      margin-bottom: 0px;
      transition: color 400ms ease-in; }
    .card__greeting .firstname {
      color: #5e005e;
      margin-top: 0px;
      transition: color 400ms ease-in; }
  .card__photo {
    width: 424px;
    grid-area: photo;
    background-color: rgba(0, 2, 22, 0.7);
    border-radius: 15rem;
    border: 1px solid rgba(0, 7, 73, 0.7);
    position: relative;
    top: -60px;
    right: -50px; }
  .card__nav {
    background-color: rgba(155, 155, 255, 0.1);
    display: grid;
    grid-area: greeting-end / greeting-start / span 1 / span 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". about skills projects";
    place-items: center; }
    .card__nav .about {
      grid-area: about; }
    .card__nav .skills {
      grid-area: skills; }
    .card__nav .projects {
      grid-area: projects; }
    .card__nav a {
      text-decoration: none;
      font-weight: bold;
      background: linear-gradient(to left, cyan, #6000a5, #3535ff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: text-shadow 200ms ease-out; }
      .card__nav a:hover {
        text-shadow: 1px 1px 2px cyan; }

#projects {
  display: grid; }

body {
  background: url("assets/images/card-bg.jpg") center no-repeat fixed;
  background-size: cover; }

.main {
  max-width: 830px;
  width: 100%;
  margin: auto; }

.anchor {
  position: fixed;
  top: 50px;
  right: 50px;
  background: lightskyblue;
  box-shadow: 0px 5px 15px black;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 500ms; }
  .anchor:hover {
    opacity: 1; }
