@import "font";

$card-height: 60vh;
$blur-extent: 12px;
$photo-bg-color: #010216;

body {
    background: url("assets/images/card-bg.jpg") center no-repeat;
}

.card {
    display: grid;
    grid-template: 75% 25% / 1fr 1fr;
    grid-template-areas: "greeting photo";
    font-family: ubuntu, roboto, sans-serif;
    overflow: hidden;
    width: 90vh;
    min-width: 200px;
    height: $card-height;
    margin: auto;
    margin-top: (100vh - 60vh) / 2;
    border: 1px solid #3f6494;
    border-radius: 15px;
    box-shadow: 0px 5px 20px black;
    backdrop-filter: blur($blur-extent);
    -webkit-backdrop-filter: blur($blur-extent);
    &__greeting {
        position: relative;
        grid-area: greeting;
        display: flex;
        div {
            align-self: center;
            position: absolute;
            left: 25px;
        }
        h1 {
            font-family: pacifico;
        }
    }
    &__photo {
        grid-area: photo;
        background-color: $photo-bg-color;
        border-radius: 15rem;
        border: 1px solid lighten($photo-bg-color, 10%);
        position: relative;
        top: -60px;
        right: -60px;
    }
    &__nav {
        display: grid;
        grid-area: greeting-end / greeting-start / span 1 / span 2;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". about skills projects";
        place-items: center;
        $content: about, skills, projects;
        @each $c in $content {
            .#{$c} {
                grid-area: $c;
            }
        }
        a {
            @mixin clear-bg($direction) {
                background: linear-gradient($direction, yellow, red, indigo);
                -webkit-background-clip: text;
                background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            text-decoration: none;
            font-weight: bold;
            @include clear-bg(to right);
            &:hover {
                @include clear-bg(to left);
            }
        }
    }
}