@import "font";

$blur-extent: 7px;
$photo-bg-color: rgba(0, 2, 22, 0.7);
$name-color: rgb(16, 26, 26);
$firstname-color: rgb(94, 0, 94);
$card-width: 50rem;// 790px;
$card-height: 33rem;// 530px;

@function bg-color($opacity) {
    @return rgba(155, 155, 255, $opacity);
}

$fill-duration: 700ms;
@keyframes fill {
    from { 
        opacity: 0.2;
        width: 0%; 
    } to { 
        opacity: 1;
        width: 100%; 
    }
}

$slide-delay: 750ms;
$slide-duration: 1s;
$global-delay: ($slide-delay+$slide-duration)*0.75;
@keyframes card-slide {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
}

.card-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

@keyframes name-slide {
    0% { 
        transform: translateX(-100%); 
    }
}

.card {
    animation: card-slide $slide-delay $slide-duration cubic-bezier(0,.66,1,1.01) backwards;
    width: $card-width;
    height: $card-height;
    display: grid;
    grid-template: 80% 20% / 53% 47%;
    grid-template-areas: "greeting photo";
    font-family: ubuntu, roboto, sans-serif;
    overflow: hidden;
    border: 1px solid #3f6494;
    border-radius: 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur($blur-extent);
    -webkit-backdrop-filter: blur($blur-extent);
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: linear-gradient(45deg, bg-color(0.3), rgba(255, 255, 255, 0.5)); // bg-color(0.3);
    }
    &__greeting {
        grid-area: greeting;
        align-self: center;
        justify-self: end;
        overflow: hidden;
        // border-bottom: 2px solid lighten($firstname-color, 50%);
        &:hover {
            cursor: default;
            .firstname { color: $name-color; }
            .name { color: $firstname-color }
        }
        &::after {
            content: "";
            display: block;
            background-color: white;
            height: 2px;
            opacity: 0.5;
            width: 100%;
            animation: fill $fill-duration $global-delay+$fill-duration backwards;
        }
        span {
            font-size: 1rem;
            color: $photo-bg-color;
        }
        h1 {
            font-family: zillaslab;
            font-size: 2.6rem;
            letter-spacing: 2px;
        }
        .name {
            color: $name-color;
            margin-bottom: 0px;
            transition: color 400ms ease-in;
            animation: name-slide $fill-duration $global-delay cubic-bezier(.63,0,.23,1.32) backwards; /* HERE */
        }
        .firstname {
            color: $firstname-color;
            margin-top: 0px;
            transition: color 400ms ease-in;
            animation: name-slide $fill-duration $global-delay cubic-bezier(.63,0,.23,1.32) backwards; /* HERE */
        }
    }
    &__photo {
        width: 424px;
        grid-area: photo;
        background-color: $photo-bg-color;
        border-radius: 15rem;
        border: 1px solid lighten($photo-bg-color, 10%);
        position: relative;
        top: -60px;
        right: -50px;
    }
    &__nav {
        background-color: bg-color(0.1);
        display: grid;
        grid-area: greeting-end / greeting-start / span 1 / span 2;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". about skills projects";
        place-items: center;
        $content: about, skills, projects;
        @each $c in $content {
            .#{$c} {
                grid-area: $c;
            }
        }
        a {
            @mixin clear-bg($direction) {
                background: linear-gradient($direction, rgb(96, 0, 165), rgb(53, 53, 255), brown);
                -webkit-background-clip: text;
                background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            text-decoration: none;
            font-weight: bold;
            @include clear-bg(to left);
            // text-shadow: none;
            transition: text-shadow 200ms ease-out;
            &:hover {
                // @include clear-bg(to left);
                text-shadow: 1px 1px 2px cyan;
            }
        }
    }
}