@import "font";

$blur-extent: 7px;
$photo-bg-color: rgba(0, 2, 22, 0.7);
$name-color: rgb(16, 26, 26);
$firstname-color: rgb(94, 0, 94);
$card-width: 790px;

@function bg-color($opacity) {
    @return rgba(155, 155, 255, $opacity);
}

@keyframes fill {
    from { 
        opacity: 0;
        width: 0%; 
    } to { 
        opacity: 1;
        width: 100%; 
    }
}

$slide-delay: 500ms;
$slide-duration: 1s;
@keyframes slide {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.card-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    animation: slide $slide-duration $slide-delay ease-out backwards;
    width: $card-width;
    height: 530px;
    display: grid;
    grid-template: 80% 20% / 53% 47%;
    grid-template-areas: "greeting photo";
    font-family: ubuntu, roboto, sans-serif;
    overflow: hidden;
    border: 1px solid #3f6494;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
    backdrop-filter: blur($blur-extent);
    -webkit-backdrop-filter: blur($blur-extent);
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: bg-color(0.3);
    }
    &__greeting {
        grid-area: greeting;
        font-size: 1.2em;
        align-self: center;
        justify-self: end;
        // border-bottom: 2px solid lighten($firstname-color, 50%);
        &:hover {
            cursor: default;
            .firstname { color: $name-color; }
            .name { color: $firstname-color }
        }
        &::after {
            content: "";
            display: block;
            background-color: white;
            height: 2px;
            opacity: 0.5;
            width: 100%;
            animation: fill 1s $slide-delay+$slide-duration backwards;
        }
        span {
            font-size: 0.8em;
            color: $photo-bg-color;
        }
        h1 {
            font-family: zillaslab;
            font-size: 2.2em;
            letter-spacing: 2px;
        }
        .name {
            color: $name-color;
            margin-bottom: 0px;
            transition: color 400ms ease-in;
        }
        .firstname {
            color: $firstname-color;
            margin-top: 0px;
            transition: color 400ms ease-in;
        }
    }
    &__photo {
        width: 424px;
        grid-area: photo;
        background-color: $photo-bg-color;
        border-radius: 15rem;
        border: 1px solid lighten($photo-bg-color, 10%);
        position: relative;
        top: -60px;
        right: -50px;
    }
    &__nav {
        background-color: bg-color(0.1);
        display: grid;
        grid-area: greeting-end / greeting-start / span 1 / span 2;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". about skills projects";
        place-items: center;
        $content: about, skills, projects;
        @each $c in $content {
            .#{$c} {
                grid-area: $c;
            }
        }
        a {
            @mixin clear-bg($direction) {
                background: linear-gradient($direction, cyan, rgb(96, 0, 165), rgb(53, 53, 255));
                -webkit-background-clip: text;
                background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            text-decoration: none;
            font-weight: bold;
            @include clear-bg(to left);
            // text-shadow: none;
            transition: text-shadow 200ms ease-out;
            &:hover {
                // @include clear-bg(to left);
                text-shadow: 1px 1px 2px cyan;
            }
        }
    }
}