@font-face {
    font-family: zillaslab;
    src: url("assets/fonts/ZillaSlab-Regular.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("assets/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: ubuntu-monospace;
    src: url("assets/fonts/UbuntuMono-R.ttf");
}

@font-face {
    font-family: pacifico;
    src: url("assets/fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: ubuntu-light;
    src: url("assets/fonts/Ubuntu-L.ttf");
}