@font-face {
    font-family: zillaslab;
    src: url("assets/fonts/ZillaSlab-SemiBold.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("assets/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: pacifico;
    src: url("assets/fonts/Pacifico-Regular.ttf");
}