@import "title";

$cell-width: 320px;

.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax($cell-width, 1fr));
    justify-items: center;
    align-items: start;
    width: 100%;
}

.project {
    display: block;
    width: $cell-width;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);

    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    transition: box-shadow ease-in-out, background-color ease-in-out, transform ease-in;
    transition-duration: 300ms;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 1);
        background-color: rgba(245, 255, 250, 0.4);// rgba(255, 255, 255, 0.2);
        transform: translateY(-10px);
    }

    > figure {
        margin: 0px;
        position: relative;
    }
    &__illustration {
        width: 100%; // $cell-width;
        height: 250px;
    }
    &__title {
        font-family: zillaslab;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        color: lightskyblue;
        padding: 0.5rem;
        width: 100%;
    }
    &__description {
        padding: 1rem;
        color: #111111;
        text-align: justify;
        font-family: ubuntu-light, roboto-light;
        > em {
            font-style: normal;
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                background: linear-gradient(90deg, red, orange, green, blue, indigo, purple);
            }
        }
    }
}
