@import "card";
@import "project";
@import "skill";

html {
    scroll-behavior: smooth;
}

body {
    background: url("assets/images/blured-circles.jpg") center no-repeat fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

.main {
    width:80%;
    min-width: $card-width;
    margin: auto;
    display: grid;
    place-items: center;
    grid-auto-columns: 1fr;
}

@keyframes pulse {
    from { opacity: 0.1; } to { opacity: 0.7; }
}

.anchor {
    z-index: 1;
    position: fixed;
    top: 50px;
    right: 50px;
    background: pink;
    box-shadow: 0px 5px 15px black;
    border-radius: 50%;
    animation: pulse 1.5s 3s ease-in-out backwards infinite alternate;
}